/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: hsl(235, 18%, 26%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
 
  font-family: "Roboto", sans-serif;
}
main {
  background: hsl(0, 0%, 100%);
  margin: 2rem;
  display: flex;
  max-width: 760px;
  border-radius: 1rem;
}
h1,
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
  margin-top: 1.5rem;
}
p {
  margin: 1rem 0;
  color: hsl(234, 29%, 20%);
}
figure {
  padding: 1rem;
}
figure img {
  width: 100%;
  display: block;
}
.mobile {
  display: none;
}
.main-content {
  padding: 1rem;
}
section {
  padding: 2.5rem 1rem;
}
ul li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
ul li:not(:last-child) {
  margin-bottom: 1rem;
}
/* start of form styles */
form {
  padding: 0 1rem;
}
form,
input {
  display: block;
}
label {
  font-size: 0.8rem;
}
form input,
button {
  width: 100%;
  margin: 0.5rem 0;
}
.form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  padding: 0.8rem;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 4px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: hsl(231, 7%, 60%);
  font-size: 0.7rem;
}
.error {
  border: 1px solid hsl(4, 100%, 67%);
  background: hsl(4, 100%, 95%);
}
.error::placeholder {
  color: hsl(4, 100%, 67%);
}
.error-message {
  color: hsl(4, 100%, 67%);
  font-size: 0.8rem;
  display: none;
}
/* end of form styles */
button {
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: hsl(234, 29%, 20%);
  color: white;
}
button:hover {
  background-image: linear-gradient(
    to right,
    hsl(4, 100%, 67%) 0%,
    hsl(4, 100%, 60%) 51%,
    hsl(4, 100%, 67%) 100%
  );
}

/* MODAL */
.success {
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  max-width: 375px;
  padding: 3rem;
}
.success img {
  margin-bottom: 1rem;
}
/* END OF SUCCESS MODAL  and start of footer styles*/
.attribution {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(4, 100%, 67%);
}

/* MOBILE RESPONSIVE MEDIA QUERY */
@media screen and (max-width: 600px) {
  main {
    background: hsl(0, 0%, 100%);
    flex-direction: column-reverse;
    max-width: 375px;
  }
  h1,
  h2 {
    margin-top: 1rem;
  }
  figure {
    padding: 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  section {
    padding: 0;
  }
  form {
    padding: 0;
    margin-top: 1.5rem;
  }
  /* MODAL */
  .success {
    padding: 3rem;
    border-radius: 5px;
  }
  .success p {
    margin-bottom: 5rem;
  }
}
